
nav#nav-user{

  width: 100%;
  padding: 10px 5%;

  background-color: $bg_primary;

  ul{

    display: flex;
    flex-direction: row-reverse;

    list-style: none;

    li{
      padding-right: 20px;
      display: flex;
      align-items: center;

      i{
        color: $cl_tertiary;
        margin-right: 8px;
        font-size: 13px;
      }

      a{
        color: $cl_secondary;
        font-size: 12px;

        &:hover{
          text-decoration: underline;
          cursor: pointer;
          color: $cl_primary;
        }
      }
    }
  }
}

nav#nav-top{

  // padding: 0px 5%;

  background-color: $bg_primary;



  .container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  img{
    width:90px;
    height: auto;
    cursor: pointer;
  }

  ul{
    display: flex;
    justify-content: space-between;

    width: 78%;
    margin-left: 30px;

    list-style: none;
    font-size: 15px;
    color: $cl_primary;

    li{
      padding: 2%;
      font-size: 13px;

      &:hover{
        background-color: $bg_secondary;
        color: black;
        cursor: pointer;
      }

    }
  }
}

section#product{

  background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg);
  background-position: 50%;
  background-repeat: no-repeat;

  color: $cl_primary;

  .container{
    display: flex;
    height: 463px;

    .p-cit{
      width: 28%;
      height: 100%;
      text-align: center;

      p{
        position: relative;
        top: 92%;

        font-size: 11px;
      }
    }

    .p-trial{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 50%;

      height: 80%;
      margin-top: 45px;

      h1{
        font-size: 28px
      }

      h1,h3{
        font-weight: normal;
      }

      ul{
        list-style: none;

        li{
          margin: 10px;

          i{
            color: $cl_secondary;
            font-size: 18px;

            margin-right: 10px;
          }
        }
      }

      .download-btn{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background-color: #666;
        padding: 2% 4%;
        width: 42%;

        &:hover{
          cursor: pointer;
          filter: brightness(80%);
        }

        div p{
          font-size: 15px;
        }

        .vertical-rule{
          display: inline-block;
          height: 95%;
          border: 1px solid white;

        }

        i{
          font-size: 25px;
        }
      }
    }

    .p-buy{
      background-color: rgba(0, 0, 0, 0.90);

      height: 95%;

      margin-top: 23px;
      padding: 10px 20px;

      img{
        float: right;
        margin-top: 10px;
        margin-right: -10px;
      }

      .discount{
        background-color: #CC397F;
        padding: 6px;
        width: 25%;
      }

      #price-1{
        margin-top: 10px;
        text-decoration: line-through;
        color: $cl_secondary;
        font-size: 17px;
      }

      #price-2{
        font-size: 25px;
      }

      #price-3{
        margin-top: 5px;
        font-size: 14px;
        color: $cl_secondary;
      }

      .buy-btn{
        width: 40%;
        margin-top: 20px;
        padding: 8px 5%;
        background-color: $cl_tertiary;

        text-align: center;
        font-size: 15px;

        &:hover{
          filter: brightness(1.25);
          cursor: pointer;
        }
      }

      .current-sale{

        margin-top: 45px;
        padding: 4% 5%;

        background-color: $bg_secondary;
        color: black;
        font-size: 13px;

        p{
          margin: 7px 0;
        }

        span{
          color: #CC397F;
          font-weight: 1000;
        }

        a{
          color: $cl_tertiary;

          &:hover{
            text-decoration: underline;
            cursor: pointer;
          }
        }

      }
  }


  }
}

nav#nav-bottom{

  background-color: $bg_secondary;

  .container{

    ul{
      display: flex;
      align-items: center;

      width: 75%;

      list-style: none;
      font-size: 18px;
      color: rgb(100, 100, 100);

      li{
        padding: 2% 3%;
        text-align: center;

        &:hover{
          background-color: rgba(255, 255, 255, 0.30);
          cursor: pointer;
        }

      }
      .navb-selected{
        background-color: white;
        color: black;

        font-weight: bold;
        border-bottom: 3px solid $bg_primary;

        &:hover{
          background-color: white;
          cursor: default;
        }
      }
    }
  }


}
