
section#intro-1{
  background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  padding: 0 15%;
  height: 895px;

  color: $cl_primary;
  text-align: center;

  h1{
    padding-top: 100px;

    font-size: 35px;
    font-weight: lighter;
  }

  p{
    padding: 20px 0;
  }

  .i-guide{

    i{
      padding: 8px;
      border: 1px solid $cl_primary;
      border-radius: 50%;
      margin-right: 20px;
      &:hover{
        cursor: pointer;
      }
    }

    p{
      display: inline-block;
      padding: 0 !important;
      &:hover{
        cursor: pointer;
      }
    }
  }

  .images{
    margin-top: 60px;
    width: 1000px;
    height: 570px;

    #i-screen{
      position: relative;
      z-index: 4;
      width: 100%;
      height: auto;

    }

    #i-bg{
      position: relative;
      transform: translate(0%, -100.8%);
      z-index: 2;

      width: 100%;
      height: 560px;
    }

    #i-play{
      position: absolute;
      transform: translate(-562%, -327%);
      font-size: 100px;
      color: $cl_primary;
      z-index: 3;

    }

    &:hover{
      cursor: pointer;
    }

    &:hover #i-play{
      color: grey;
    }
  }
}

section#intro-2{
  background-color: $cl_primary;
  color: black;
  padding: 60px 5%;
  text-align: center;

  .description{
    padding: 60px 10%;

    h1{
      font-weight: lighter;
      font-size: 35px;
    }

    p{
      padding: 15px 0;
      font-size: 17px;
    }
  }

  .slide{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-bottom: 40px;

    i{
      padding: 2%;
      font-size: 30px;
      color: rgb(255, 61, 0);

      &:hover{
        color: rgb(181, 181, 181);
        cursor: pointer;
      }
    }

    .slide-image{
      width: 970px;
      height: 600px;

      img{
        width: 100%;
        height: auto;

        &:hover{
          cursor: ew-resize;
        }
      }

      .slide-changes{
        position: relative;
        bottom: 37px;
        display: flex;
        justify-content: space-between;
        cursor: ew-resize;

        p{
          padding: 5px 10px;
          width: 7%;
          background-color: rgba(0, 0, 0, 0.8);
          color: $cl_primary;
          cursor: text;
        }
      }
    }
  }
}

.intro-background-1, .intro-background-2{
  background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-02.jpg);
  min-height: 650px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

section#intro-3{
  background-color: $bg_tertiary;
  color: $cl_primary;
  text-align: center;

  padding: 8% 8% 2% 8%;

  h1,h3{
    font-weight: lighter;
  }

  h1{
    font-size: 35px;
  }

  p{
    padding: 15px 8%;
    font-size: 18px;
  }

  img{
    width: 770px;
    height: 450px;

    margin: 60px 0;
  }

  .i3-row{
    display: flex;
    flex-direction: row;
    align-items: center;

    .i3-column-desc{
      width: 40%;
      text-align: left;

      h3{
        font-size: 25px;
      }

      p{
        padding: 15px 0;
      }
    }

    .i3-column-img{
      width: 60%;
      height: auto;

      img{
        width: 670px;
        height: 515px;
      }
    }
  }
}

.intro-background-2{
  background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/image-bg-01.jpg);
}

section#intro-4{
  padding: 80px 15px 60px 15px;
  text-align: center;

  h1{
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 55px;
  }

  .inspire-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 1.5%;

    color: $cl_primary;

    & > div{
      background-position: center;
      background-size: cover;

      width: 232px;
      height: 232px;

      h3{
        position: relative;
        top: 190px;
      }
    }

    .inspiration-1{
      background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/mirror.jpg);
    }

    .inspiration-2{
      background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/navigator.jpg);
    }

    .inspiration-3{
      background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/kaleidoscope.jpg);
    }

    .inspiration-4{
      background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/woodcut.jpg);
    }

    .inspiration-5{
      background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/apply-lighting.jpg);
    }
  }
}

section#intro-5{
  background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/brushpacks-bg.jpg);
  height: 590px;

  .i5-row{

    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    padding-top: 120px;

    .i5-column{
      width: 35%;
      height: 330px;

      padding: 2% 0;
      background-color: $cl_primary;

      text-align: center;

      a{
        color: $cl_tertiary;
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }

      h2{
        padding-top: 50px;
        font-weight: lighter;
      }
      p{
        padding: 15px 6%;
        font-size: 16px;
      }
    }

    .i5-spacer{
      width: 2%;
    }
  }
}
